.button {
    display: block;
    width: fit-content;
    padding: 10px 20px;
    font-size: 18px;
    text-align: center;
    text-transform: capitalize;
    font-weight: 600;
    transition: .4s ease-in-out;
    &.main-gradient {
        background-image: $btn-bg;
        color: $white;
        &:hover {
            background-image: $btn-bg-hover;
        }
    }
    &.rad-4 {
        border-radius: 4px;
    }
}